# Dependencias
node_modules/

# Variables de entorno
.env

# Base de datos
*.db
whatsapp.db

# Logs
logs
*.log
npm-debug.log*

# Directorios de IDE
.idea/
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db 